<h1>Category</h1>
<%= form_with model: @group, url: user_groups_path(current_user) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :icon, style: "display: block" %>
    <%= form.text_field :icon, placeholder: "Paste link to the icon here..." %>
  </div>
  <div>
    <%= form.submit "Add Category" %>
  </div>
<%end%>
